'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Package Profiles Downloader'
      'submenu': [
        { 'label': 'Download predefined list', 'command': 'package-list-downloader:load-predefined-list' },
        { 'label': 'Download custom list', 'command': 'package-list-downloader:load-custom-list' }
      ]
    ]
  }
]
